@mixin rubikRegular() {
  font-family: "Rubik";
  font-weight: 400;
}

@mixin rubikMedium() {
  font-family: "Rubik";
  font-weight: 500;
}
@mixin backgroundImage($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
}
@mixin backgroundImageWithGradient($url) {
  background-image: linear-gradient(
      90deg,
      #0000009a 0%,
      #00000036 67%,
      #00000000 100%
    ),
    url($url);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}
h3 {
  font-weight: 900;
}
p,
li,
a,
h3 {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: calc(25px + 6 * ((100vw - 320px) / 680));
  }
  p,
  li,
  a,
  h3 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 4rem 0;
}
.inline-list {
  li {
    display: inline;
  }
}

.contents-inline {
  div,
  p,
  ul {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .contents-inline__md {
    div,
    p,
    ul {
      display: inline;
    }
  }
  .inline-list__md {
    li {
      display: inline;
    }
  }
}
.brush-stroke__wrapper {
  width: 200px;
  margin: 2rem auto;
}

.background__blue-brush-stroke {
  @include backgroundImage("../images/blue-brush-stroke.svg");
  img {
    margin-left: 0.5rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
    margin-right: 2rem;
    max-width: calc(100vw - 2.5rem);
  }
}

.background__orange-brush-stroke {
  @include backgroundImage("../images/orange-brush-stroke.svg");
  img {
    margin-left: 0.5rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
    margin-right: 2rem;
    max-width: calc(100vw - 2.5rem);
  }
}

.dummy {
  height: 200px;
  width: 100%;
}
.background__yellow-brush-stroke {
  @include backgroundImage("../images/yellow-brush-stroke.svg");
  img {
    margin-left: 0.5rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
    margin-right: 2rem;
    max-width: calc(100vw - 2.5rem);
  }
}

.background__light-orange{
    background-color: $light-orange;
}

.color-orange{
    color: $orange !important;
}
.color-white{
  color: white !important;
}
.cta {
  background-color: $orange;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  height: 66px;
  padding: 0 2rem;
  outline: none;
  border: none;
}

.cta--center{
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .cta {
    display: block;
    height: 60px;
    margin: 2rem auto;
    font-size: 16px;
  }
}
