.counselors-page__banner {
  width: 100vw;
  height: 300px;
  @include backgroundImageWithGradient("../images/counselors-banner.jpg");

  h1 {
    color: white;
  }
}
@media screen and (max-width: 767px) {
  .counselors-page__banner {
    background-position: 20% 80%;
  }
}
.shifted-up {
  position: relative;
  top: -360px;
  margin-bottom: -360px;
}
.counselors-page__benefits {
  padding: 4rem;
  background-color: white;
  border-radius: 15px;
  width: calc(100% - 1rem);
  box-shadow: 0px 23px 29px #0000000a;

  .cta {
    max-width: 235px;
    line-height: 65px;
  }
}

.counselors-page__benefit-item {
  img {
    display: block;
    margin: 5px auto 0px;
  }
  h2 {
    font-weight: 400;
  }
}

@media screen and (max-width: 767px) {
  .counselors-page__banner {
    @include backgroundImageWithGradient(
      "../images/counselors-banner--mobile.jpg"
    );
  }
  .shifted-up {
    position: relative;
    top: -100px;
    margin-bottom: -100px;
  }
  .counselors-page__benefits {
    padding: 2rem;

    .cta {
      max-width: 201px;
      line-height: 62px;
    }
  }
}

#counselors {
  .students-page__section-three {
    .background__blue-brush-stroke {
      width: 500px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 767px) {
  #counselors {
    .faq-preview__view-all {
      display: block;
      margin: 0 auto;
    }
  }
}
