.page__title {
  color: white;
}

.horizontal-line {
  border-top: 1px solid $light-gray;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: $half-trans-orange;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 2rem 0;
  border: none !important;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $orange;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $orange;
  cursor: pointer;
}

.slider__values {
  position: relative;
  display: flex;
  justify-content: space-evenly;

  p {
    font-size: 14px;
    flex: 1 0 0;
    text-align: center;
  }
}

.distance__slider {
  margin-bottom: 2rem;
  label {
    font-size: 14px;
  }
}

.distance__location {
  font-size: 12px;
  text-align: right;
  width: 100%;
  display: block;
  margin-top: 5px;
}

.course__categories {
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  .ais-SearchBox-form {
    margin: 1.5rem 0;
    height: 3.5rem;
    &::before {
      background: none;
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      content: "\f002";
      color: $medium-gray;
      margin-top: -4px;
      margin-left: 5px;
    }
    .ais-SearchBox-input {
      border-radius: 36px;
      box-shadow: none;
      padding-left: 40px;
      font-size: 1.5rem;
      color: $dark-gray;
      &::placeholder {
        color: $medium-gray;
      }
      &:focus {
        border-color: $blue;
      }
    }
  }
}

.refinements__select {
  position: relative;

  .refinements__label {
    display: flex;
    justify-content: space-between;
    border: 1px solid $medium-gray;
    border-radius: 5px;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 1rem auto;

    p {
      margin-bottom: 0;
      font-weight: 800;
      font-size: 16px;
    }
    span {
      font-size: 12px;
    }

    &:hover {
      cursor: pointer;
    }
    &.open {
      border-color: $orange;
    }

    .refinements__title {
      display: flex;
      align-items: center;
    }
  }
  .refinements__dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 31px;
    visibility: hidden;
    background: white;
    border: 1px solid $medium-gray;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    z-index: 2;
    &.open {
      visibility: visible;
    }

    .ais-RefinementList-label {
      font-size: 1.6rem;
      margin: 0.5rem 0rem;
    }
    .ais-GeoSearch-input,
    .ais-RefinementList-checkbox {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.results__heading {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  margin-top: 1rem;

  justify-content: space-between;
  h2 {
    margin-bottom: 1.5rem;
  }
  img {
    margin: 0 auto;
  }
}

#sortBy {
  /* Algolia overrides*/
  .ais-HitsPerPage-select,
  .ais-MenuSelect-select,
  .ais-SortBy-select {
    margin: 0rem 1rem 1.5rem;
    width: auto;
    font-size: 14px;
    height: 2rem;
  }
}

.results__hr {
  background-color: white;
  opacity: 1;
  margin: 0;
}

.results__course {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  background-color: white;
  border-radius: 5px;
  padding: 2rem 0.5rem;
  margin: 1rem 0;
  border: 1px solid $medium-gray;

  &:hover {
    cursor: pointer;
  }

  .results__image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .results__image__background {
      background-color: $iconBackgroundGray;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 567px) {
        width: 80px;
        height: 80px;
        padding: 1.3rem;
      }
    }

    @media screen and (max-width: 567px) {
      grid-row-end: 1;
      .results__image__background {
        width: 60px;
        height: 60px;
      }
    }
  }
  .results__info {
    &.first {
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 2;
      grid-column-end: 2;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: 567px) {
        grid-column-end: 4;
      }
    }
    &.second {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 2;

      @media screen and (max-width: 567px) {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
    .results__distance {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $dark-blue;
      margin-bottom: 0;
      &.hidden {
        display: none;
      }
    }
    .results__title {
      margin-bottom: 0;
      font-weight: 700;
      line-height: 2.2rem;
    }
    .results__description {
      font-weight: 400;
      font-size: 14px;
      @media screen and (max-width: 567px) {
        padding: 1rem 0;
        flex-wrap: wrap;
        margin: 1rem;
      }
    }

    label {
      margin: 0.5rem 0;
      @include label($yellow);
      font-size: 12px;
      &.green {
        @include label($green);
        font-size: 12px;

        color: white;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .results__chevron {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 567px) {
      display: none;
    }
  }
  p {
    font-size: 2.2rem;
    font-weight: 700;
  }
}

.results__empty {
  height: 300px;
  background-color: white;
  border-radius: 5px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    text-align: center;
  }
}

.results__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.results__share {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 567px) {
    flex: 1 0 100%;
    padding: 1rem;
    border: 1px solid rgba(225, 225, 225, 0.6);
    border-radius: 5px;
  }
}

.results__share-text {
  color: white;
  margin: 0;
  display: none;
  @media screen and (max-width: 567px) {
    display: block;
    flex: 1 0 100%;
    padding: 1rem;
    text-align: center;
    font-size: 28px;
  }
}
.pagination {
  margin: 1rem 0;
}

@mixin shareIcon() {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0rem 0.2rem;
}

.results__icon {
  @include shareIcon();
  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 567px) {
    width: 50px;
    height: 50px;
    img {
      width: 22px;
    }
  }
}

#emailShare {
  img {
    margin-bottom: 2px;
  }
}

.course__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    color: white;
    font-size: 14px;
    text-align: center;
  }
  @media screen and (max-width: 567px) {
    p {
      margin-bottom: 1rem;
    }
    .cta {
      margin: 0rem 0 2rem;
    }
  }
}
#courses {
  .cta {
    text-align: center;
  }

  .ais-Pagination-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.results__link {
  text-decoration: none;
  color: $dark-gray;
  &:hover {
    text-decoration: none;
    color: $dark-gray;
  }
}

.search__zip {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;

  input {
    max-width: 100%;
    font-size: 1.4rem;
  }
  span {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
    &.hidden {
      display: none;
    }
  }
}

@media screen and (max-width: 567px) {
  .align-sm-center {
    display: flex;
    align-items: center;
  }
}

.ais-RefinementList-checkbox {
  background-color: $checkbox-gray;
  border-radius: 2px;
  box-shadow: none;

  &:checked {
    background-color: $checkbox-blue;
    border: none;
  }
}

.filter__arrow {
  display: none;

  @media screen and (max-width: 567px) {
    display: inline-block;
  }
}

#filterToggle {
  #filterOptions {
    max-height: 100vh;
  }
  .filter__arrow {
    transform: rotate(180deg);
  }

  &.closed {
    .filter__arrow {
      transform: rotate(0deg);
    }
  }
}
#filterOptions {
  &.closed {
    @media screen and (max-width: 567px) {
      max-height: 0;
      overflow: hidden;
    }
  }
}

.courses__current-refinements {
  display: flex;
  flex-wrap: wrap;
  li {
    font-size: 12px;
    background-color: $checkbox-gray;
    border-radius: 30px;
    color: $dark-blue;
    margin: 0.2rem 0;
    padding: 0 0.5rem 0 1.5rem;
    display: flex;
    align-items: center;
  }
  button {
    font-size: 12px;
    background-color: transparent;
    border: none;
  }
}

.results__pagination {
  display: flex;
  a {

    background-color: white;
    text-decoration: none;
  }
  .pagination__current {
    background-color: $orange;
    color: white;
  }
  a,
  .pagination__current {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0.2rem;
    border-radius: 2px;
    border: 1px solid $medium-gray;
  }

  .pagination__next,
  .pagination__prev {
    a {
      color: $medium-gray;
    }
  }
}
