.families-page__banner {
  width: 100vw;
  height: 500px;
  @include backgroundImageWithGradient("../images/families-banner.jpg");

  h1 {
    color: white;
  }
}

@media screen and (max-width: 767px) {
  .families-page__banner {
    @include backgroundImageWithGradient(
      "../images/families-banner--mobile.jpg"
    );
  }
}
.families-page__section-one {
  @include backgroundImage(
    "../images/board of regents_web graphics_parents page.svg"
  );
  height: 800px;
  color: white;
}

.families-page__video {
  margin-top: -300px;
}
@media screen and (max-width: 1024px) {
  .families-page__video {
    margin: -300px 2rem 2rem 2rem;
  }
}
@media screen and (max-width: 767px) {
  .families-page__section-one {
    height: 500px;
  }
}
