.faq-preview__wrapper {
  padding: 3rem;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
    .faq-preview__wrapper {
        padding: 2rem;
        border-radius: 0px;
        margin: 0rem -1rem;
      }
      
}
.faq-preview__small-header {
  text-transform: uppercase;
  font-size: 15px;
  @include arvoRegular();
}

.faq-preview__faq {
  padding: 1rem 0rem;
  border-bottom: 1px dotted $medium-dark-gray;
}
.faq-preview__question {
  @include rubikMedium();
  color: $orange;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1rem;
  &:hover {
    cursor: pointer;
  }
}
.faq-preview__answer {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;

  ul {
    list-style: disc;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  li,
  a,
  span,
  p {
    font-size: 20px;
  }

  &.faq-preview__answer--open {
    max-height: 1000px;

    transition: all 1s;
  }
}

.faq-preview__view-all{
    font-size: clamp(16px, 20px, 20px);
    color: $dark-gray;
    border-bottom: 2px solid $medium-orange;
    font-weight: 600;
    margin-top: 2rem;
}
@media screen and (max-width: 767px) {
  .faq-preview__answer {
    li,
    a, 
    span,
    p {
      font-size: 16px;
    }
  }
  .faq-preview__question {
    font-size: 16px;
  }
}