.faq-preview__wrapper {
  padding: 3rem;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .faq-preview__wrapper {
    padding: 2rem;
    border-radius: 0px;
    margin: 0rem -1rem;
  }
}
.faq-preview__small-header {
  text-transform: uppercase;
  font-size: 15px;
  @include arvoRegular();
}

.faq-preview__faq {
  padding: 1rem 0rem;
  border-bottom: 1px dotted $medium-dark-gray;
}
.faq-preview__question {
  @include rubikMedium();
  color: $orange;
  font-weight: 700;
  margin-bottom: 1rem;
  &:hover {
    cursor: pointer;
  }
}
.faq-preview__answer {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;

  ul {
    list-style: disc;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }
 

  &.faq-preview__answer--open {
    max-height: 1000px;

    transition: all 1s;
  }
}

.faq-preview__view-all {
  color: $dark-gray;
  font-weight: 600;
  margin-top: 2rem;
  position: relative;
  font-size: 1.5rem;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-color: $trans-orange;
    
    background: linear-gradient(to left, $trans-orange 50%, $orange 50%) right;
    background-size: 200%;
    transition: 1s ease-out;
  }

  &:hover {
    &:after {
      background-position: left;
    }
  }
}

@media screen and (max-width: 767px) {
  .faq-preview__answer {
    li,
    a,
    span,
    p {
      font-size: 16px;
    }
  }
  .faq-preview__question {
    font-size: 16px;
  }
}


.steps-to-enrollment {
  .nav-link {
    -webkit-appearance: none;
  }
}