.steps-to-enrollment {
  margin: 4rem auto;
  max-width: 90%;
  .tabs {
    .nav-link {
      color: $dark-gray;
      margin-bottom: 0px;
      position: relative;
      &:hover{
        cursor: pointer;
      }
      &::before {
        content: "";
        display: inline-block;
        height: 28px;
        width: 28px;
        box-sizing: border-box;
        border: 1px solid $dark-gray;
        border-radius: 100%;
        transition: 180ms transform ease-in-out;
        position: relative;
        top: 7px;
        right: 10px;
      }
      &::after {
        position: absolute;
        left: 0px;
        content: "";
        display: inline-block;
        height: 28px;
        width: 28px;
        box-sizing: border-box;
        background-color: $dark-gray;
        border-radius: 100%;
        transition: 180ms transform ease-in-out;
        transform: scale(0);
        top: 12px;
      }
      &.active {
        color: $dark-gray;

        background-color: transparent;
        &::after {
          transform: scale(0.75);
        }
      }
    }
  }

  .tab-content {
    background-color: $orange;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    color: white;
  }
  .large-number {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .arrow-container {
    width: auto;
    float: right;
    font-size: 2rem;
    i {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .steps-to-enrollment{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .steps-to-enrollment{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .steps-to-enrollment .tab-content {
    margin-top: 2rem;
  }
  .steps-to-enrollment .tabs .nav-link{
    font-size: 16px;
  }
}