/* Students Page */
.students-page__banner {
  @include backgroundImageWithGradient("../images/students-banner.jpg");

  width: 100vw;
  height: 500px;
  background-position-y: 30%;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  h1 {
    color: white;
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 768px) {
  .students-page__banner {
    @include backgroundImageWithGradient(
      "../images/students-banner--mobile.jpg"
    );
  }
}

.students-page__blue-section {
  background-color: $blue;
  @include backgroundImage("blue");
  position: relative;
  color: white;
  padding-bottom: 400px;
  overflow: hidden;
}
.students-page__blue-section__person-with-pencil {
  position: absolute;
  @include backgroundImage("../images/students-page-illustration.svg");
  height: 350px;
  width: 300px;
  right: -40px;
}

.students-page__video {
  margin-top: -300px;
}
@media screen and (max-width: 1024px) {
  .students-page__video {
    margin: -300px 2rem 2rem 2rem;
  }
}



