.useful-college-links {
  background-color: $blue;
  color: white;
}

#map_wrapper {
  height: 400px;
  color: $dark-gray;
  border-radius: 10px;
  border: 5px solid white;
  width: calc(100% - 20px);
  margin: 0 auto;
}

#map_canvas {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

#usefulCollegeLinksSearchBox {
  width: 466px;
  height: 66px;
  max-width: calc(100% - 20px);
  margin: 10px;
  background-color: transparent;
  position: relative;

  .useful-college-links__dropdown {
    @include backgroundImage("../images/triangle-down-medium-gray.png");
    content: "";
    border-left: 1px solid $medium-gray;
    height: 60px;
    width: 60px;
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
    cursor: pointer;
    &::hover {
      cursor: pointer;
    }
  }

  .ais-SearchBox,
  .ais-SearchBox-form,
  .ais-SearchBox-input {
    height: 100%;
    background-color: transparent;
  }
  .ais-Searchbox-form {
    &::before {
      display: none;
    }
  }

  .ais-SearchBox-reset {
    z-index: 10;
    background-color: white;
    width: 29px;
    height: 61px;
  }
  .ais-SearchBox-input {
    border-radius: 5px;
    border: 1px solid $dark-gray;
    background-color: white;
    padding: 20px;
    font-family: "Rubik";
    font-size: 17px;
    position: relative;
    &::placeholder {
      color: $medium-gray;
    }
  }
}

#usefulCollegeLinksResults {
  width: 466px;
  max-width: calc(100% - 20px);
  position: relative;

  .ais-Hits {
    position: absolute;
    left: 0;
    right: 0;
    max-height: 400px;
    overflow-y: scroll;
    background-color: white;
    padding: 1rem;
    z-index: 5;
    border-radius: 5px;
  }
}

.useful-college-links__search-result {
  display: block;
  color: $dark-gray;
  margin: 0.3rem 0;
  padding: 0;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}

.useful-college-links__selected-result {
  background-color: white;
  color: $dark-gray;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
  position: relative;
  animation-name: slideup;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  transform: translateY(100%);
  opacity: 0;

  .fa-times-circle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 25px;
    &:hover {
      cursor: pointer;
    }
  }
  p,
  h3 {
    margin-bottom: 0;
    // padding: 0;
  }
  h2 {
    font-size: clamp(22px, 25px, 25px);
  }
  h3 {
    margin-top: 1rem;
  }
  p {
    font-size: clamp(14px, 18px, 18px);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  80%{
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;

  }
}
